<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit exercise data</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class=>
	<h1>Edit data</h1>
	<div>
		<form th:object="${data}" th:action="@{/process}" action="#"
			method="post">
			<label for="title">title</label> <input type="text" id="bname"
				th:field="*{title}" /> <input type="hidden" id="bid"
				th:field="*{id}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="hr">Heartrate (avg.)</label> <input type="number"
				th:field="*{hr}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="lname">Length</label> <input type="number" step='0.01'
				id="dlength" th:field="*{length}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="dlength">Duration</label> <input type="number" step='1'
				id="dlength" th:field="*{time}" class="form-group" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<select id="catlist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}"
					th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>